{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'core/css/style2.css' %}">
<div class="contenedorxs">
    <section class="form-register">
        <img style="width: 150px; display: block; margin: 20px auto;" src="{% static 'core/imagenes/icono.png' %}" alt="">
        <h4>Iniciar Sesion</h4>
        <form class="form__reg" action="{% url "iniciarSesion" %}" method="post">
            {% csrf_token %}
            <input class="controls" type="text" placeholder="Nombre o Email" required autofocus name="username">
            <input class="controls" type="password" placeholder="Contraseña" required name="password">

            <div>
                <input class="btn_submit botons" type="submit" value="INICIAR SESION">
                <input class="btn_reset botons" type="reset" value="LIMPIAR">
            </div>
            <p><a href="#" >¿Has olvidado tu contraseña?</a></p>
            <p><a href="{% url 'mostrarRegistro' %}" >¿No te has registrado?</a></p>
        </form>
    </section>
</div>
{% endblock content %}