{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <p>Estimado {{user}}, estas son tus recetas</p>

    <div class="container">
        {% for object in recetas %}
        <div class="" style="color:white">
            <blockquote>Autor de la receta {{ object.usuario }}</blockquote>
            <div class="">
                <h5 class="card-title text-white">Titulo{{ object.titulo }}</h5>
                <h5 class="card-text text-white">{{ object.parrafo }}</h5>

            </div>
            <img src="{{ object.get_imagen_url }}"  width="500px"  alt="">
            <a class="btn btn-sm btn-info" href="{% url 'updateReceta' %}">Editar</a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}