{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/post.css' %}">
    <center><p class="mr-2">Estimado {{user}}, estas son tus recetas</p></center>
    <div class="container">
        <div class="col-md-12 col-lg-12">

            <article class="post vt-post">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                        <div class="post-type post-img">
                            <h2 style="color: rgb(102, 102, 102); margin: 1rem;">{{ receta.usuario.username }}</p>
                            <img style="padding: auto; margin: 10px;" class="article-img" width="300" src="{{ receta.imagen.url }}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8" >
                        <div class="caption">
                            <h2 class="md-heading">{{receta.titulo }}</h2>
                            <p style="color: black; background-color: rgba(150, 150, 150, 0.507); padding: 2%; margin-right: 20%; border-radius: 20px;">{{ receta.parrafo }} </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end" style="margin: 30px;">
                    {% if user == receta.usuario or user.is_staff %}
                    <a href="{% url 'post-update' receta.pk %}"><button class="btn btn-success" style="margin: 10px;">Editar</button></a>
                    
                    <a href="{% url 'post-delete' receta.pk %}"><button class="btn btn-warning" style="margin: 10px;">Eliminar</button></a>
                    {% endif %}
                </div>
            </article>

        </div>
    </div>

{% endblock content %}