{% extends 'core/plantillareceta.html' %}
{% load static %}

{% block title%}
<title>{{ idreceta }}</title>
{% endblock title%}

{% block titulo %}
<h1 style="background-color: red;">{{ titulo }}</h1>
{% endblock titulo%}

{% block imagen %}
<div class="col-md-4 col-sm-12 centrado">
    <img src="{{ imagen }}" alt="">
</div>
{% endblock imagen %}
<div class="col-md-4 col-sm-12 ">
    {% block parrafo %}
    <p style="background-color: red;">{{ parrafo }}</p>
    {% endblock parrafo %}
</div>
<div class="col-md-4 col-sm-12">
    &nbsp;
</div>