{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'core/css/style2.css' %}">
    <div class="content-section contenedorxs">

        
        {% if Mensaje %}

            <div class="alert alert-danger" role="alert">
                Ya existe un usuario con este nombre.
            </div>
        {% endif %}
        <form method="POST" class="form__reg">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-white">Unete hoy</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrame</button>
            </div>
        </form>
        <div class="border-top pt-3">
           
            <p class="text-white"> Ya tienes una cuenta? <a class="ml-2 text-white" href="{% url 'mostrarInicio' %}">Iniciar Sesion</a></p>
           
            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('.help-block').hide();

        $('.control-group').css("margin-bottom", "30px");

        $('label').each(function(index) {
            console.log($(this))
            $(this).attr('id', 'etiqueta' + index);
        });
        $('#id_username').addClass('input controls');
        $('#id_username').removeClass('textinput')

        $('#id_email').addClass('input controls');
        $('#id_email').removeClass('textinput')

        $('#id_password1').addClass('input controls');
        $('#id_password1').removeClass('textinput')

        $('#id_password2').addClass('input controls');
        $('#id_password2').removeClass('textinput')

        $('#etiqueta0').text("Nombre de usuario").addClass('text-white')
        $('#etiqueta1').text("Correo").addClass('text-white')
        $('#etiqueta2').text("Contraseña").addClass('text-white')
        $('#etiqueta3').text("Repetir Contraseña").addClass('text-white')
    </script>
{% endblock content %}